<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Article.Name</title>
</head>
<body>
    <div>
        <p>@ViewBag.Article.ArticleId</p>
        <p>@ViewBag.Article.Name</p>
        <p>@ViewBag.Article.FullDescription</p>
        <p>@ViewBag.Article.UserMail</p>
        <p>@ViewBag.Article.Time.ToUniversalTime()</p>
        <p><a href="/Home">Назад</a></p>
    </div>
</body>
</html>